@layer Base {
  body {
    font-family: monospace;
    color: steelblue;
    background-color: black;
  }

  kbd {
    display: inline-block;
    min-width: 1em;
    border: 1px solid currentColor;
    border-radius: 0.2em;
    padding: 0.1em 0.2em;
    text-align: center;
  }

  .score-board {
    display: flex;
    justify-content: space-between;
    line-height: 2;

    [id$='score'] {
      font-weight: bolder;
    }
  }

  canvas#game {
    border: 2px outset grey;
    margin: 0 auto;
    display: block;
  }
}
