@layer Base {
  body {
    font-family: monospace;
    color: steelblue;
    background-color: black;
  }

  kbd {
    border: 1px solid currentColor;
    border-radius: 0.2em;
    padding: 0.1em 0.2em;
  }

  canvas#game {
    border: 2px outset grey;
    margin: 0 auto;
    display: block;
  }
}
