@import './colors.css';

:root {
  font-family: monospace;
  color: var(--ui-cl-primary);

  --cursor: url('../cursor.svg') 0 0, auto;

  --ui-cl-primary: var(--color-blue);
  --ui-cl-background: var(--color-black);
}

*,
*:hover {
  cursor: var(--cursor);
}

body {
  background-color: var(--ui-cl-background);
}

.controls {
  tr {
    background-color: color-mix(in srgb, currentColor 10%, #000);
  }

  th,
  td {
    padding: 0.25em 0.5em;
  }
}

kbd {
  display: inline-block;
  min-width: 1em;
  border: 1px solid currentColor;
  border-radius: 0.2em;
  padding: 0.1em 0.2em;
  text-align: center;
}
