@import './styles/base.css' layer(base);

@layer game {
  .score-board {
    position: absolute;
    inset: 0 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
  }

  canvas#game {
  }
}
