@import './styles/base.css' layer(base);
@import './styles/ui.css' layer(ui);
@import './styles/animationas.css';

@layer game {
  body {
    display: grid;
  }

  #background-far,
  #background-near {
    z-index: -1;
    position: relative;
    object-fit: cover;
    animation: drift 90s ease-in-out alternate infinite, blink 0.5s alternate infinite;
  }

  #background-far {
    --speed-factor: 1;
    background-image: url(../assets/starfield-far.png);
  }

  #background-near {
    --speed-factor: 2;
    background-image: url(../assets/starfield-near.png);
  }

  #ui {
    display: grid;
  }

  #score-board {
    position: absolute;
    inset: 0 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
  }

  #pause-menu {
    inset: 0;
    color: currentColor;
    background-color: #000c;
    outline: none;
  }

  .layer {
    grid-area: 1 / 1;
  }
}
