@import './styles/base.css' layer(base);
@import './styles/ui.css' layer(ui);

header,
main,
footer {
  padding-inline: 2rem;
}

#subheader {
  text-transform: capitalize;
}

/* hide inactive sections */
section:not(:target),
/* hide BACK option in main menu */
main:not(:has(:target)) menu li.back,
/* hide all options except BACK */
section:target ~ menu li:not(.back) {
  display: none;
}

menu .back {
  margin-top: 1rem;
}

footer {
  position: absolute;
  inset: auto 0 0;
}
