@layer Base {
  body {
    font-family: monospace;
    color: steelblue;
    background-color: black;
  }

  .controls {
    tr {
      background-color: color-mix(in srgb, currentColor 10%, #000);
    }

    th,
    td {
      padding: 0.25em 0.5em;
    }
  }

  kbd {
    display: inline-block;
    min-width: 1em;
    border: 1px solid currentColor;
    border-radius: 0.2em;
    padding: 0.1em 0.2em;
    text-align: center;
  }

  .score-board {
    display: flex;
    margin: auto;
    width: 800px;
    justify-content: space-between;
    line-height: 2;

    [id$='score'] {
      font-weight: bolder;
    }
  }

  canvas#game {
    border: 2px outset grey;
    margin: 0 auto;
    display: block;
  }
}
